*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:Poppins;
background:#fffaf5;
color:#333;
}

.hero{
height:100vh;
background:url('assets/hero.jpg') center/cover;
position:relative;
display:flex;
justify-content:center;
align-items:center;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,.5);
}

.hero-content{
position:relative;
text-align:center;
color:white;
z-index:2;
}

.hero h1{
font-family:Cinzel;
font-size:5rem;
}

.hero h2{
margin-top:20px;
}

.btn{
display:inline-block;
margin-top:25px;
padding:15px 30px;
background:#c28b00;
color:white;
text-decoration:none;
border-radius:40px;
}

section{
padding:100px 10%;
text-align:center;
}

.timer{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.timer div{
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.timer span{
font-size:3rem;
font-weight:bold;
}

.timeline{
display:flex;
gap:30px;
margin-top:50px;
}

.card{
padding:30px;
background:white;
border-radius:20px;
box-shadow:0 8px 20px rgba(0,0,0,.1);
}

.events{
background:#fff3df;
}

.event-card{
background:white;
padding:30px;
margin:20px auto;
max-width:400px;
border-radius:15px;
}

.gallery-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.gallery-grid img{
width:100%;
height:300px;
object-fit:cover;
border-radius:20px;
}

footer{
padding:30px;
background:#111;
color:white;
text-align:center;
}

@media(max-width:768px){

.hero h1{
font-size:3rem;
}

.timeline{
flex-direction:column;
}

.timer{
flex-wrap:wrap;
}

}
